@font-face {
  font-family: 'droid_sansregular';
  src: url('../fonts/droid_sans-webfont.woff2') format('woff2'),
    url('../fonts/droid_sans-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #242529;
  color: #f0f0f0;
  font: 16px droid_sansregular;
}

.text_box_font {
  font: Bold 16px Europe, sans-serif;
}

.input_box {
  position: relative;
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #686868;
  display: inline-block;
}

.input_box:hover {
  border-bottom: 2px solid #0099cf;
}

.input_box:hover::before {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 4px;
  width: 2px;
  background-color: #0099cf;
}

.input_box:hover::after {
  content: '';
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 4px;
  width: 2px;
  background-color: #0099cf;
}

.input_box input, select {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  font: Bold 16px Arial, sans-serif;
  border: 0;
  background-color: #282828;
  color: #f2f2f2;
}

.button_box {
  width: calc(50% - 30px);
  height: 50px;
  margin: 13px;
  border: 1px solid #474747;
  box-sizing: border-box;
  display: inline-block;
}

section {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  background-color: #282828;
  padding: 10px;
  width: 350px;
  border-top: 1px solid #4b4b4b;
  /* border: 1px solid black; */
  box-shadow: 0px 2px 10px black;
}

input[type="number"]:focus {
  outline: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* CSS SWITCH */
.checkbox {
  position: relative;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.checkbox + .label {
  position: relative;
  padding: 0 0 0 0px;
  cursor: pointer;
}

.checkbox + .label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 140px;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
  transition: .2s;
}

.checkbox + .label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 166px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
  transition: .2s;
}

.checkbox:checked + .label:before {
  background: #9FD468;
}

.checkbox:checked + .label:after {
  left: 143px;
}


.btn-default {
  border: 0;
  background-color: #282828;
  padding: 11px 30px;
  font-size: 14px;
  width: 100%;
  height: 100%;
  color:white;
  font: bold 18px Arial;
}

.btn-default:hover {
  background-color: #434343;
}
